/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------WEB RESPONSIVE---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------WEB RESPONSIVE----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1366px){
    /* .not-aviable{
        opacity: 1;
        visibility: visible;
    } */
    .menu_item {
        font-size: 16px;
    }
    .about-us-container img {
        width: 30%;
    }
    .about-us-container p {
        line-height: 22px;
    }
    .principal-landing h1 {
        font-size: 60px;
        margin-top: 25%;
    }
    .services h1 {
        font-size: 60px;
    }
    .slider-services-container .slide .content h2 {
        font-size: 50px;
    }
    .content p {
        font-size: 15px;
    }
    .content a {
        padding: 12px !important;
        font-size: 14px;
    }
    .thumbnail .item img {
        width: 40px;
    }
    .contact-us h1 {
        font-size: 60px;
    }
    .contact-sources--left-col h3 {
        font-size: 30px;
    }
    .contact-sources--left-col p {
        font-size: 20px;
    }
    .Email {
        width: 60px;
    }
    .Facebook {
        width: 60px;
    }
    .WhatsApp {
        width: 60px;
    }
    .Instagram {
        width: 60px;
    }
    .footer p {
        font-size: 20px;
    }
    .footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 1290px){
    /* .not-aviable{
        opacity: 1;
        visibility: visible;
    } */
    .description_a {
        margin-right: 10%;
    }
    .contact_us p {
        font-size: 25px;
    }
    .form_contact_us {
        margin-top: 15%;
    }
    .form_contact_us {
        margin: auto 2%;
    }
}

@media screen and (max-width: 1090px){
    /* .not-aviable{
        opacity: 1;
        visibility: visible;
    } */

    .menu_bar {
        margin-right: 8vh;
    }.menu_item {
        font-size: 15px;
    }
    
    .about-us-container p {
        font-size: 12px;
    }.about_us h1 {
        font-size: 50px;
    }
    
    .services h1 {
        font-size: 50px;
    }.slider-services-container .slide .content h2 {
        font-size: 30px;
    }.content p {
        font-size: 12px;
    }.thumbnail .item img {
        width: 30px;
    }.item{
        margin: 0px 2px;
    }

    .service_a h1 {
        font-size: 40px;
    }
    .service_b h1 {
        font-size: 40px;
    }
    .service_c h1 {
        font-size: 40px;
    }
    .service_a p {
        font-size: 22px;
    }
    .service_b p {
        font-size: 22px;
    }
    .service_c p {
        font-size: 22px;
    }
    
    .contact-us h1 {
        font-size: 50px;
    }
    .contact_us p {
        font-size: 18px;
    }

    .contact-sources--right-col {
        width: 50%;
    }

    .links {
        margin: 9% 4%;
    }
}

@media screen and (max-width: 900px){
    /* .not-aviable{
        opacity: 1;
        visibility: visible;
    } */

    .logo_container {
        width: 15vh;
        margin-left: 12vh;
    }
    
    .principal-landing h1 {
        font-size: 50px;
        margin-top: 45vh;
    }

    .services h1 {
        font-size: 45px;
    }

    .contact-us h1 {
        font-size: 45px;
    }

    .contact-sources--left-col {
        margin: auto 10%;
    }

    .contact-sources--right-col {
        width: 40%;
        height: min-content !important;
    }.Facebook, .Email, .WhatsApp, .Instagram{
        width: 40px;
    }.links {
        margin: 0px 0px;
    }.links li {
        padding: 0px 0px;
    }
}

@media screen and (max-width: 815px){
    /* .not-aviable{
        opacity: 1;
        visibility: visible;
    } */
     
    /* .menu_bar{
        opacity: 0;
        transition: 1s ease-in-out;
        display: none;
    } */

    /* -[]TODO : Implementar toggle bar */
    
    /* .toggle{
        opacity: 1;
    } */
    
}

@media screen and (max-width: 720px){

    .about-us-container img {
        width: 50%;
    }.about-us-container {
        margin: 5vh auto;
        flex-direction: column;
    }.about-us-container p {
        width: 70%;
    }

    .content p {
        width: 70%;
    }

}

@media screen and (max-width: 615px){
    /* .not-aviable{
        opacity: 1;
        visibility: visible;
    } */

    .thumbnail .item img {
        width: 50px;
    }

    .contact-us-container {
        display: flex;
        min-height: 80vh;
        flex-direction: column;
    }.contact-sources--left-col{
        width: 40%;
        padding: 0px 5vh;
        margin: 10vh 20vh 0vh 20vh;
    }.contact-sources--right-col {
        width: 40%;
        padding: 0px 5vh;
        margin: 1vh 20vh 10vh 20vh;
    }

}

@media screen and (max-width: 419px){
    /* .not-aviable{
        opacity: 1;
        visibility: visible;
    } */
    .about-us-container p {
        width: 80%;
        font-size: 11px;
    }

    .services h1 {
        font-size: 35px;
    }

    .thumbnail .item img {
        width: 40px;
    }

    .content p {
        width: 80%;
    }

    .contact-us h1 {
        font-size: 35px;
    }

    .contact-sources--left-col p{
        font-size: 15px;
    }.contact-sources--left-col{
        padding: 0vh !important;
        margin: 10vh 15vh 0vh 15vh;
    }.contact-sources--right-col {
        width: 70%;
        padding: 0vh !important;
        margin: 1vh 10vh 10vh 10vh;
    }
}